.DS_Store


# Node
node_plain/node_modules


# Phoenix

# App artifacts
phoenix_plain/_build
phoenix_plain/db
phoenix_plain/deps
phoenix_plain/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
phoenix_plain/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
phoenix_plain/priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
phoenix_plain/config/prod.secret.exs
